<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/product.css">
</head>
<body>
    <!-- <% products.forEach(product => { %>
        <p onclick="clickedProductName('<%= product %>')">  
            <%= product.product_name %> </p>
      <img src = <%= product.product_image %>>
  <% })%> -->
  <div class="container">
    <div class="left_container">
        <div class="left">

            <div class="filter_section_one">
                <div class="filterHeading">FILTERS</div>
                <div id="clearFilterBtn" onclick="clear_Tick()">Clear All</div>
            </div>

        <div class="filter_section scroll">
        <div class="filterHeading">AMC</div>
        <div class="box">
            <input type="checkbox" value="Axis" class="checkbox amctick" id="axis" >
            <label for="axisMF">Axis Mutual Fund</label> 
        </div>
        <div class="box">
          <input type="checkbox" value="ICICI" class="checkbox amctick" id="icici">
          <label for="iciciMF">ICICI Prudential Technology</label> 
      </div>
      <div class="box">
          <input type="checkbox" value="HDFC" class="checkbox amctick" id="hdfc">
          <label for="hdfcMF">HDFC</label> 
      </div>
      <div class="box">
        <input type="checkbox" value="TATA" class="checkbox amctick" id="tata">
        <label for="tata">TATA Digital India</label> 
    </div>
    <div class="box">
        <input type="checkbox" value="Paragh Parikh" class="checkbox amctick" id="">
        <label for="">Paragh Parikh</label> 
    </div>
   
    <div class="box">
        <input type="checkbox" value="UTI" class="checkbox amctick" id="">
        <label for="">UTI Flexi Cap</label> 
    </div> 
    <div class="box">
        <input type="checkbox" value="Kotak" class="checkbox amctick" id="">
        <label for="">Kotak Bluechip Funds</label> 
    </div>
    <div class="box">
        <input type="checkbox" value="Aditya Birla" class="checkbox amctick" id="">
        <label for="">Aditya Birla Sun Life</label> 
    </div>
    <div class="box">
        <input type="checkbox" value="Nippon India Pharma" class="checkbox amctick" id="">
        <label for="">Nippon India Pharma</label> 
    </div>
    <div class="box">
        <input type="checkbox" value="SBI" class="checkbox amctick" id="">
        <label for="">SBI Technology Oppurtunities Fund</label> 
    </div>


 </div> 


 <div class="filter_section cat">
    <div class="filterHeading ">Category</div>
    <div class="box">
        <input type="checkbox" value="Debt" class="checkbox c_tick" >
        <label for="">Debt</label> 
    </div>
    <div class="box">
      <input type="checkbox" value="Equity" class="checkbox  c_tick" >
      <label for="">Equity</label> 
  </div>
  <div class="box">
      <input type="checkbox" value="Hybrid" class="checkbox  c_tick" >
      <label for="">Hybrid</label> 
  </div>
  <div class="box">
    <input type="checkbox" value="others" class="checkbox  c_tick" >
    <label for="">Others</label> 
</div>
</div> 


<div class="filter_section">
    <div class="filterHeading">Risk</div>
    <div class="box">
        <input type="checkbox" value="Low Risk" class="checkbox R_tick" >
        <label for="">Low</label> 
    </div>
    <div class="box">
      <input type="checkbox" value="Moderate Risk" class="checkbox R_tick" >
      <label for="">Moderate </label> 
  </div>
  <div class="box">
      <input type="checkbox" value="High Risk" class="checkbox R_tick" >
      <label for="">High</label> 
  </div>
 
</div> 

<div class="filter_section">
    <div class="filterHeading">Fund Size</div>
    <div class="box">
        <input type="checkbox" value="2" class="checkbox F_tick" >
        <label for="">Upto 1,000cr</label> 
    </div>
    <div class="box">
      <input type="checkbox" value="4" class="checkbox F_tick" >
      <label for="">Upto 2,000cr </label> 
  </div>
  <div class="box">
      <input type="checkbox" value="10" class="checkbox F_tick" >
      <label for="">Upto 5,000cr</label> 
  </div>
  <div class="box">
    <input type="checkbox" value="20" class="checkbox F_tick" >
    <label for="">Upto 10,000cr</label> 
</div>
 
</div> 



</div>
          
    </div>
       <div class="right_container">
        <% products.forEach(product  => { %>
            <div class="box1" onclick="clickedProductName('<%= JSON.stringify(product) %>')">
                <div class="inner_box">
                <div class= "left_box">
                    <div class="upper_left_box fx">
                <img src = <%= product.product_image %>>
                <p><%= product.product_name %>  </p>
            </div>
            <div class="lower_left_box">
                <p> <%= product.risk %></p>
                <div class="dot"></div>
                <p> <%= product.category %></p>
                <div class="dot"></div>
                <div class= "fx" id="rating">
                <p> <%= product.rating %></p>
                <p class="fa fa-star star"></p>
            </div>
            </div>
            </div>

            <div class="right_box">
             <div class="upper_right_box1">
            <h3> <%= product.percentage_interval[0] %></h3>
            <p>1D</p>
             </div>
            <div class="upper_right_box2">
            <h3> <%= product.percentage_interval[1] %></h3>
            <p>1M</p>
        </div>
 
            <div class="upper_right_box3">
            <h3> <%= product.percentage_interval[2] %></h3>
            <p>1Y</p>
        </div>
    </div>
      </div>
            </div>
      <% })%>
    </div>
</div>
</body>

    <script>
    function clickedProductName(product){
        const newProduct = JSON.parse(product);
     console.log(newProduct.price);
     window.location.href = `http://localhost:444/products/${newProduct._id}`
    }


    let checks = document.getElementsByClassName('checkbox');
    let inputs = document.getElementsByTagName('input');
    let arr = [];
    if ( localStorage.getItem('filter') === null){
        localStorage.setItem('filter', JSON.stringify([]));
    }
    if ( localStorage.getItem('indexes') === null){
        localStorage.setItem('indexes', JSON.stringify([]));
    }
 
    function filter(){
        let newArr = JSON.parse(localStorage.getItem('filter')); 
        let nayaarr = JSON.parse(localStorage.getItem('indexes'));
        let amc = 'amc=';
        let cat = 'cat=';
        let fund = 'fund=';
        let risk = 'risk=';
    
       
        if ( newArr.length == 0){
        }
        for ( let i = 0; i < nayaarr.length; i++){
            if (nayaarr[i] < 10){
           amc += inputs[nayaarr[i]].value+",";
            }

         else if (nayaarr[i] >= 10 && nayaarr[i] < 14 ) {
          cat += inputs[nayaarr[i]].value+',';
         }
         else if ( nayaarr[i] >= 13 && nayaarr[i] < 17 ){
             risk += inputs[nayaarr[i]].value+',';
         }
         else {
             fund +=  inputs[nayaarr[i]].value+',';
         }
        }
        console.log(nayaarr);

        for ( let i = 0; i <  nayaarr.length; i++){
            inputs[nayaarr[i]].checked = true;
        }
        console.log(amc);
        let url = 'http://localhost:444/products?'+amc +'&'+ cat + '&' + risk + '&' + fund;
        console.log(url)
        return url;
      
    }

    console.log(filter());

    
    // console.log(inputs[1].value)
    function showProduct(){
  for ( let i = 0; i < inputs.length; i++){
        inputs[i].addEventListener('click', function(){
           
            let newArr = JSON.parse(localStorage.getItem('filter'));
            let nayaarr = JSON.parse(localStorage.getItem('indexes'));
            ;
            console.log(inputs[i].checked);
            if ( inputs[i].checked == false){
               for ( let j = 0; j < nayaarr.length; j++){
                  if ( nayaarr[j] === i ){ 
                 if ( localStorage.getItem('exp') === null){
                     localStorage.setItem('exp',JSON.stringify([]));
                 }
                 let exp = JSON.parse(localStorage.getItem('exp'));
                 console.log(exp);

                              nayaarr.splice(j,j+1);
                       
                  }
               }
                
            }

            else {
                nayaarr.push(i);
                newArr.push(inputs[i].value)

            }
   
            console.log(nayaarr)
            console.log(newArr)
         

            localStorage.setItem('indexes', JSON.stringify(nayaarr));
            localStorage.setItem('filter', JSON.stringify(newArr));
            window.location.href  = filter(); 
            inputs[i].checked;
        });
     }
    }

    showProduct();
    console.log(arr);
    //  let arr = [1,2,3,4,5]
    //  arr.forEach(element => console.log(element));
  function clear_Tick(){
    let newArr = JSON.parse(localStorage.getItem('filter'));
    let nayaarr = JSON.parse(localStorage.getItem('indexes'));
    newArr = [];
    nayaarr = [];
    localStorage.setItem('indexes', JSON.stringify(nayaarr));
            localStorage.setItem('filter', JSON.stringify(newArr));
            window.location.href = 'http://localhost:444/products?'
  }



    </script>
       
</body>
</html>